body{
  background-color: burlywood;
}
.eventname{
  margin-top:3%;
  font-family:'gill sans','gill sans MT' ;
font-style:italic;
text-align:center;
background-color: aqua;

}
p{
  text-align: center;
}
h1{
  text-align: center;
  color:black ;
  font-style: bold;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

